body {
    background: url("duck.png") repeat;
    background-color: rgb(193, 230, 255);
}

h1.center {
    text-align: center;
}

p.center {
    text-align: center;
}

div.fill {
    background-color: cornflowerblue;
    width: 100%;
    height: 50px;
}

input.strech {
    width: 100%;
    font-size: 50px;
    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
}

button.fancy {
    background-color: lightskyblue; 
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }